@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-shift: "Shift-8OKn", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
@font-face {
	font-family: "Shift-8OKn";
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("/fonts/Shift-8OKn.woff2") format("woff2");
}
.hover-about:hover {
	cursor: url("/svgs/about-us.svg"), auto;
}

.hover-aquarium:hover {
	cursor: url("/svgs/aquarium.svg"), auto;
}
.hover-friends {
	cursor:
		url("/imgs/dogComputer.png") 16 16,
		auto;
}
.customCursor {
	cursor: url("/imgs/redDot.png"), auto;
}
body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
